<section class="bg-grey-light section--full-window">
  <%= render partial: 'home/partials/hero', locals: { data: @hero } %>
</section>

<section id="section-<%= @foreword['id'] %>" class="bg-grey section--full-window">
  <%= render partial: 'home/partials/foreword', locals: { data: @foreword } %>
</section>

<section id="section-<%= @anniversary['id'] %>" class="section--anniversary section--full-window bg-primary">
  <%= render partial: 'home/partials/anniversary', locals: { data: @anniversary } %>
</section>

<section id="section-<%= @highlights['id'] %>" class="bg-grey-light">
  <%= render partial: 'home/partials/highlights', locals: { data: @highlights } %>
</section>

<section id="section-<%= @projects['id'] %>" class="section--change">
  <%= render partial: 'home/partials/projects', locals: { data: @projects } %>
</section>

<section id="section-<%= @stats_people['id'] %>">
  <%= render partial: 'home/partials/stats-people', locals: { data: @stats_people } %>
</section>

<section id="section-<%= @stats_finance['id'] %>" class="bg-grey-light section--full-window">
  <%= render partial: 'home/partials/stats-finance', locals: { data: @stats_finance } %>
</section>

<section id="section-<%= @future['id'] %>" class="bg-grey section--full-window">
  <%= render partial: 'home/partials/future', locals: { data: @future } %>
</section>