<section class="bg-grey-light">
  <%= render partial: 'home/partials/hero', locals: { data: @hero } %>
</section>

<section class="bg-grey">
  <%= render partial: 'home/partials/foreword', locals: { data: @foreword } %>
</section>

<section>
  <%= render partial: 'home/partials/anniversary', locals: { data: @anniversary } %>
</section>

<section class="bg-grey-light">
  <%= render partial: 'home/partials/highlights', locals: { data: @highlights } %>
</section>

<div class="bg-grey">
  <%= render partial: 'home/partials/projects', locals: { data: @projects } %>
</div>

<section>
  <%= render partial: 'home/partials/stats-people', locals: { data: @stats_people } %>
</section>

<section class="bg-grey-light">
  <%= render partial: 'home/partials/stats-finance', locals: { data: @stats_people } %>
</section>

<section class="bg-grey">
  <%= render partial: 'home/partials/future', locals: { data: @future } %>
</section>