<section class="section--hero bg-grey section--full-window bg-image-overlay">
  <%= render partial: 'home/partials/hero', locals: { data: @hero } %>
</section>

<section id="section-<%= @foreword['id'] %>" class="section--foreword container bg-grey-dark section--full-window sm-trigger-sticky flex flex-v-center">
  <%= render partial: 'home/partials/foreword', locals: { data: @foreword } %>
</section>

<section id="section-<%= @anniversary['id'] %>" class="section--anniversary section--full-window bg-primary">
  <%= render partial: 'home/partials/anniversary', locals: { data: @anniversary } %>
</section>

<section id="section-<%= @highlights['id'] %>" class="section--highlights bg-grey-light gradient-right">
  <%= render partial: 'home/partials/highlights', locals: { data: @highlights } %>
</section>

<section id="section-<%= @projects['id'] %>" class="section--projects">
  <%= render partial: 'home/partials/projects', locals: { data: @projects } %>
</section>

<section id="section-<%= @stats_people['id'] %>" class="section--stats-people">
  <%= render partial: 'home/partials/stats-people', locals: { data: @stats_people } %>
</section>

<section id="section-<%= @stats_finance['id'] %>" class="section--stats-finance section--full-window bg-image-overlay">
  <%= render partial: 'home/partials/stats-finance', locals: { data: @stats_finance } %>
</section>

<section id="section-<%= @future['id'] %>" class="bg-grey section--future section--full-window white flex flex-h-center flex-column bg-image-overlay">
  <%= render partial: 'home/partials/future', locals: { data: @future } %>
</section>