<h2><%= data['title'] %></h2>
<p class="strapline"><%= data['strapline'] %></p>
<p><%= data['introduction'] %></p>

<div>
  <% data['collection'].each do |project| %>
    <h3><%= project['title'] %></h3>
    <p><%= project['introduction'] %></p>

    <% if project['modal'] %>
      <modal-trigger id="<%= project['id'] %>" :modal-content="<%= project.to_json %>">View more</modal-trigger>
    <% end %>

    <% if project['url'] %>
      <% link_to 'link', project['url'], title: "View more infomation about #{project['title']}", target: '_blank' %>
    <% end %>
  <% end %>
</div>