<div class="section__header flex flex-center">
  <div class="section__header-content">
    <h2><%= data['strapline'] %></h2>
    <h3><%= data['title'] %></h3>
    <p><%= data['introduction'] %></p>
  </div>
</div>


<div class="container cards--projects">
  <% data['collection'].each_with_index do |project, index| %>
    <div class="card--project">
      <div class="card__content-wrapper">
        <span class="card__index"><%= index + 1 %> of <%= data['collection'].length %></span>
        <h3><%= project['title'] %></h3>
        <p><%= project['introduction'] %></p>

        <% if project['modal'] %>
          <modal-trigger id="<%= project['id'] %>" class="button--internal" :modal-content="<%= project.to_json %>">View more</modal-trigger>
        <% end %>

        <% if project['url'] %>
          <%= link_to project['url-text'], project['url'], title: "View more infomation about #{project['title']}", class: 'button--external', target: '_blank' %>
        <% end %>
      </div>

      <div class="card__image-wrapper">
        
      </div>
    </div>
  <% end %>
</div>