<div class="section__header flex flex-center bg-image-overlay">
  <div class="section__header-content white gutters">
    <h2><%= data['strapline'] %></h2>
    <h3 class="white"><%= data['title'] %></h3>
    <p class="section__introduction"><%= data['introduction'] %></p>
  </div>

  <%= render partial: 'home/shared/caption/', locals: { title: data['hero_title'], credit: data['hero_credit'] } %>
</div>


<div class="container--medium cards--projects">
  <% data['collection'].each_with_index do |project, index| %>
    <div class="card--project">
      <div class="card__content-wrapper">
        <span class="card__index"><%= index + 1 %> of <%= data['collection'].length %></span>
        <h3><%= project['title'] %></h3>
        <div>
          <% project['introduction'].each do |p| %>
            <p><%= p.html_safe %></p>
          <% end %>
        </div>

        <% if project['modal'] %>
          <modal-trigger id="<%= project['id'] %>" class="button--internal" :modal-content="<%= project.to_json %>">Read more</modal-trigger>
        <% end %>

        <% if project['url'] %>
          <%= link_to project['url-text'], project['url'], title: "View more infomation about #{project['title']}", class: 'button--external inline-block item-padding--top', target: '_blank' %>
        <% end %>
      </div>

      <div class="card__image-wrapper"></div>
    </div>
  <% end %>
</div>