<div class="container--medium">
  <h2><%= data['title'] %></h2>
  <p><%= data['introduction'] %></p>

  <div class="bg-black-transparent gutters flex">
    <div class="section__counter-wrapper gutter-right">
      <p class="section__heading">Total Income</p>

      <% data['income'].each do |i| %>
        <p class="section__counter flex flex-v-center">
          <span><%= i['year'] %>:</span>  
          <span class="section__counter-total gutter-left"><%= i['total'] %></span>  
        </p>
      <% end %>

      <p class="section__counter flex flex-v-center">
        <span class="section__counter-total">00??</span>  
      </p>  
      
    </div>

    <div class="section__table-wrapper">
      <% data['table'].each_with_index do |row, index| %>
        <% if (index == 0) %>
          <p class="flex no-margin">
            <span class="section__table-cell-header flex-inline flex-v-center"><%= row[0] %></span>
            <span class="section__table-cell-header flex-inline flex-v-center section__heading"><%= row[1] %></span>
            <span class="section__table-cell-header flex-inline flex-v-center section__heading"><%= row[2] %></span>
          </p>

          <div class="section__table bg-black-transparent">

        <% else %>
          <div class="flex">
            <span class="section__table-cell flex-inline flex-v-center section__table-text"><%= row[0] %></span>
            <span class="section__table-cell flex-inline flex-v-center section__table-number"><%=  number_to_currency(row[1], :unit => "£", precision: 0) %></span>
            <span class="section__table-cell flex-inline flex-v-center section__table-number"><%=  number_to_currency(row[2], :unit => "£", precision: 0) %></span>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'home/shared/caption/', locals: { title: data['hero_title'], credit: data['hero_credit'] } %>