<div class="container--medium white">
  <div class="flex flex-column item-padding--top item-margin--bottom section__map-wrapper gutters">
    <p class="section__stat-number flex flex-v-center">
      <%= image_tag data['countries-icon'], alt: 'Icon', class: 'section__stat-icon' %>
      <%= data['countries-total'] %>
    </p>
    <span class="section__stat-text"><%= data['countries-title'] %></span>
    
    <div class="section__map">
      <%= image_tag data['countries-image'], alt: 'Infographic showing the countries UNEP-WCMC has worked with', class: 'section__map-image item-padding--top item-padding--bottom' %>
      <p class="section__map-disclaimer"><%= data['map-disclaimer'] %></p>
    </div>
  </div>

  <div class="section__circles flex item-padding--bottom">
    <% data['stats-totals'].each do |stat| %>
      <div class="section__circle">
        <div class="section__circle-content flex flex-column text-center">
          <%= image_tag stat['icon'], alt: 'Icon', class: 'section__circle-icon' %>
          <p class="section__stat-number"><%= stat['number'] %></p>
          <span class="section__stat-text"><%= stat['title'] %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex item-padding--bottom">
    <div class="section__employee-intro">
      <p class="section__stat-number no-margin flex flex-v-center">
        <%= image_tag data['stats-staff']['icon'], alt: 'Icon', class: 'section__stat-icon' %>
        <%= data['stats-staff']['number'] %>
      </p>
      <p class="section__introduction no-margin--top"><%= data['stats-staff']['title'] %></p>
      <p class="section__introduction"><%= data['stats-staff']['introduction'] %></p>
    </div>
    <div class="section__employee-stats flex flex-h-between flex-v-start breakpoint-medium-up">
      <% data['stats-staff']['stats'].each do |stat| %>
        <div class="section__square">
          <div class="section__square-content flex flex-column">
            <%= image_tag stat['icon'], alt: 'Icon', class: 'section__square-icon' %>
            <p class="section__stat-number"><%= stat['number'] %></p>
            <span class="section__stat-text"><%= stat['title'] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex item-padding--top">
    <div class="section__chart breakpoint-medium-up">
      <chart-line-labelled 
        :lines="<%= @references[:data].to_json %>" 
        :options="<%= @references[:config].to_json %>">
      </chart-line-labelled>
    </div>

    <div class="section__chart-stats">
      <p class="section__introduction no-margin--top"><%= data['activities_title'] %></p>
      <p class="section__text"><%= data['activities_intro'] %></p>
      
      <p class="breakpoint-medium-up">
        <% data['activities_legend'].each do |item| %>
          <span class="legend--circle-<%= item['colour'] %>"><%= item['text'] %></span> 
        <% end %>
      </p>
    </div>
  </div>
</div>