<div class="container--medium">
  <h2 class="heading--small"><%= data['title'] %></h2>
  <p class="section__introduction"><%= data['introduction'] %></p>
</div>

<div class="section__stats container--small">
  <div class="bg-black-transparent gutters item-padding--top item-padding--bottom">
    <p class="section__counter-title no-margin--top">Total Income</p>
    
    <div class="item-padding--bottom">
      <% data['income'].each do |i| %>
        <p class="section__counter flex flex-center bg-white">
          <span><%= i['year'] %>:</span>  
          <span class="section__counter-total"><%= number_to_currency(i['total'], :unit => "£", precision: 0) %></span>  
        </p>
      <% end %>
    </div> 
    
    <div class="breakpoint-small-up">
      <% data['table'].each_with_index do |row, index| %>
        <% if (index == 0) %>
          <p class="flex no-margin">
            <span class="section__table-cell-header flex-inline flex-v-center"><%= row[0] %></span>
            <span class="section__table-cell-header flex-inline flex-v-center section__heading"><%= row[1] %></span>
            <span class="section__table-cell-header flex-inline flex-v-center section__heading"><%= row[2] %></span>
          </p>

          <div class="section__table bg-black-transparent">

        <% else %>
          <div class="flex">
            <span class="section__table-cell flex-inline flex-v-center section__table-text"><%= row[0] %></span>
            <span class="section__table-cell flex-inline flex-v-center section__table-number"><%=  number_to_currency(row[1], :unit => "£", precision: 0) %></span>
            <span class="section__table-cell flex-inline flex-v-center section__table-number"><%=  number_to_currency(row[2], :unit => "£", precision: 0) %></span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'home/shared/caption/', locals: { title: data['hero_title'], credit: data['hero_credit'] } %>