<div class="container--medium white">
  <div class="flex flex-column section-padding--top item-margin--bottom section__map-wrapper gutters">
    <p class="section__number"><%= data['countries-total'] %></p>
    <span><%= data['countries-title'] %></span>
    <div class="section__map">MAP</div>
  </div>

  <div class="flex flex-h-around item-padding--bottom">
    <% data['stats-totals'].each do |stat| %>
      <div class="section__circle flex flex-column">
        <p class="section__number"><%= stat['number'] %></p>
        <span><%= stat['title'] %></span>
      </div>
    <% end %>
  </div>

  <div class="flex item-padding--bottom">
    <div class="section__employee-intro">
      <p class="section__number no-margin"><%= data['stats-staff']['number'] %></p>
      <p class="section__introduction no-margin--top"><%= data['stats-staff']['title'] %></p>
      <p class="section__introduction"><%= data['stats-staff']['introduction'] %></p>
    </div>
    <div class="section__employee-stats flex">
      <% data['stats-staff']['stats'].each do |stat| %>
        <div class="section__square">
          <div class="section__square-content flex flex-column">
            <p class="section__number"><%= stat['number'] %></p>
            <span><%= stat['title'] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex item-padding--bottom">
    <div class="section__chart">
      <chart-line-labelled 
        :lines="<%= @references[:data].to_json %>" 
        :options="<%= @references[:config].to_json %>">
      </chart-line-labelled>
    </div>

    <div class="section__chart-stats gutter-left">
      <p class="section__introduction no-margin--top"><%= data['activities_title'] %></p>
      <p class="section__text"><%= data['activities_intro'] %></p>

      <% data['activities_legend'].each do |item| %>
        <span class="legend--circle-<%= item['colour'] %>"><%= item['text'] %></span> 
      <% end %>
    </div>
  </div>
</div>