<div class="container--medium white">
  <div class="flex flex-column flex-v-center section-padding--top item-padding--bottom">
    <p class="section__number"><%= data['countries-total'] %></p>
    <span><%= data['countries-title'] %></span>
    <div class="section__map">MAP</div>
  </div>

  <div class="flex flex-h-around item-padding--bottom">
    <% data['stats-totals'].each do |stat| %>
      <div class="section__circle flex flex-column">
        <p class="section__number"><%= stat['number'] %></p>
        <span><%= stat['title'] %></span>
      </div>
    <% end %>
  </div>

  <div class="flex item-padding--bottom">
    <div class="section__chart-stats gutter-right">
      <span class="section__number"><%= data['stats-papers']['number'] %></span>
      <span><%= data['stats-papers']['title'] %></span>
      <span><%= data['stats-papers']['introduction'] %></span>
    </div>

    <div class="section__chart">
      
    </div>
  </div>

  <div class="flex item-padding--bottom">
    <div class="section__employee-intro">
      <p class="section__number"><%= data['stats-staff']['number'] %></p>
      <span><%= data['stats-staff']['title'] %></span>
      <span><%= data['stats-staff']['introduction'] %></span>
    </div>
    <div class="section__employee-stats flex">
      <% data['stats-staff']['stats'].each do |stat| %>
        <div class="section__square">
          <div class="section__square-content flex flex-column">
            <p class="section__number"><%= stat['number'] %></p>
            <span><%= stat['title'] %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex item-padding--bottom">
    <div class="section__chart">
      <chart-line-labelled :lines="<%= @references.to_json %>" background-colour="#31A0C9"></chart-line-labelled>
    </div>

    <div class="section__chart-stats gutter-left">
      <span class="section__number"><%= data['stats-papers']['number'] %></span>
      <span><%= data['stats-papers']['title'] %></span>
      <span><%= data['stats-papers']['introduction'] %></span>
    </div>
  </div>
</div>