<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/global/head', locals: {} %>    
  </head>

  <body>
    <div id="v-app">
      <%= render partial: 'layouts/global/topbar', locals: {} %>
      <%= render partial: 'layouts/global/side-nav', locals: {} %>

      <%= yield %>

      <modal id="projects"></modal>
    </div>

    <%= render partial: 'layouts/global/footer', locals: {} %>
  </body>
</html>
